{% extends 'app1/base.html' %}


{% block content %}


{% comment %} <h1>{{title}}</h1> {% endcomment %}

<ul class = "list-articles">
	{% for p in posts %}
	
			<li><div class="article-panel">
	<p class="first"> The category {{p.cat}}</p>
	<p class="last"> Date: {{ p.time_update|date:"d-m-Y H:i:s" }} </p>
	</div>
	{% if p.photo %}
		<p><img class = "img-article-left thumb" src="{{p.photo.url}}" alt=""></p>
	{% endif %}

				<h2>{{p.title}}</h2>
		{% autoescape on %}
		{{p.content | linebreaks | truncatewords:50}}
		{% endautoescape off %}
			<div class = "clear"> </div> 
			<p class = "link-read-post"> <a href = "{{ p.get_absolute_url }} " > Read post </a> </p>
			</li>
	{% endfor %}
</ul>

{% endblock %}

